{%extends "layout.html"%}
{% block content%}
<div class="container my-3 border">
    <div class="row">
        <div class="col-md-6">
    <form action="" method="POST">
        {{ form.hidden_tag()}}
        <br>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Reset Password</legend>
           
            <div class="form-group">
                {{ form.password.label(class='form-control-label')}}
                {% if form.password.errors%}
                {{ form.password(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control form-control-lg')}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='form-control-label')}}
                {% if form.confirm_password.errors%}
                {{ form.confirm_password(class='form-control form-control-lg is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class='form-control form-control-lg')}}
                {% endif %}

            </div>
           

            <br>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info')}}
            </div>
        </fieldset>
    </form>
   
</div>
<br>
<div class="col-md-6">
    <img src="{{ url_for('static', filename='img/reg.jpg') }}" alt="Image" class="img-fluid">
</div>
</div>
</div>
<script>
    document.getElementById('user_type').addEventListener('change', function() {
    // Function to show or hide additional fields based on user type
    var additionalFields = document.getElementById('additional_fields');
    if (this.value === 'craft_owner') {
        additionalFields.style.display = 'block';
    } else {
        additionalFields.style.display = 'none';
    }
});
</script>

{% endblock content %}